{% extends 'base.html'%}

{% block head %}
<title>
    {% if post.meta_title %} {{post.meta_title}}
    {%else%} {{post.title}}
    {%endif%}
</title>
<meta name="description" content="{% if post.meta_description %} {{post.meta_description}} {%else%}
    {{post.content|truncatechars:200}}{%endif%}" /> {% endblock head %}




{% block content %}

<div class="container my-3">
    <div class="row py-3">
        <div class="col-md-9">
            <h1 class="h3">{{blog.title}}</h1>
            <!-- BreadCumbs -->


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a class="text-decoration-none text-danger"
                            href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#"
                            class="text-decoration-none text-danger">{{blog.category.title}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{blog.title}}</li>
                </ol>
            </nav>
            <hr>
            <div class="my-3">
                {{blog.content}}
            </div>
            Last Updated: {{blog.updated}}
        </div>
        <div class="col-md-3">Sidebar</div>
    </div>
</div>
{% endblock content %}